/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-header: #ff6900 ;
    --bg-main: #fff ;
    --bg--footer: #1a1a1a ;
    --bg-discount: #ff0307 ;
    --bg-ecofriendly: #008000 ;
    --discounted-price: #ff0307 ;   
}

body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: var(--bg-header);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

/* #endregion common */

/* #region Header */

header>div{
    justify-content: center ;
    justify-content: space-between;
    align-items: center;
}

.personal_area>a, .nav,a{
    font-size: 1.20rem;
    margin: 0.25rem;
}

/* #endregion Header */
/* #region debug */
.debug .container{
    background-color: #ff6900;
    height: 50px;

}

.debug header{
    background-color: aqua;
    height: 50px;
    width: 100%;
}
/* #endregion debug */



/* #region utility */
.d-flex{
    display: flex;
}

.container{
    max-width: 1700px;
    width: 80%;
    margin: 0 auto;
}
/* #endregion utility */